// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    padding-left: 100px;
}
.document-show, .document-index {
  .content {
    background-color: LightGray;
    padding: 10px;
  }
  .break-word {
    word-wrap: break-word;
  }
}
header {
  background-color: black;
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-left: 100px;
  margin-right: 100px;
  text-align: -webkit-center;

  .nav li a{
    color: white;
  }
  .nav li a:hover {
    color: black;
  }
}
.header {
  width: 50%;
}
#wrap {
  margin-top: 60px;
  margin-right: 100px;
}