Link: <%= link_to @page_content.link, @page_content.link %>
<div class="alert alert-danger" role="alert">
  Dữ liệu chỉ lấy tiêu đề và nội dung chính của trang web
</div>
<p><%= @page_content.content %></p>
